{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block content %}
    <h1>Category</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category.name }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ category.createdAt ? category.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ category.updatedAt ? category.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_blog_category_index') }}">back to list</a>

    <a href="{{ path('app_blog_category_edit', {'id': category.id}) }}">edit</a>

    {{ include('blog/category/_delete_form.html.twig') }}
{% endblock %}
