{% extends 'base.html.twig' %}

{% block title %}Connexion!{% endblock %}

{% block content %}
    <form method="post" class="my-5">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h3 class="h3 mb-3 font-weight-normal">Please sign in</h3>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                   autocomplete="email" required autofocus />
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" value="" id="inputPassword" class="form-control"
                   autocomplete="current-password" required />
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

        {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html
        #}

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>

        <div class="form-group clearfix">
            <button class="btn btn-lg btn-primary float-left" type="submit">{{ 'Sign in' | trans }}</button>
            <a href="{{ path('app_register') }}" class="btn btn-lg btn-primary float-right">{{ 'Register' | trans }}</a>
        </div>
    </form>
{% endblock %}
