{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {{ parent() }}

{% endblock %}

{% block stylesheets_bottom %}
    {{ parent() }}
{% endblock %}

{% block javascripts_bottom %}
    {{ parent() }}
{% endblock %}
