{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {#{ encore_entry_link_tags('main_admin') }#}
    {{ encore_entry_link_tags('demo_context') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#{ encore_entry_script_tags('main_admin') }#}
    {{ encore_entry_script_tags('demo_context') }}
{% endblock %}

{% block content %}
    {{ parent() }}

    <div id="main-admin"></div>

    {% for index in range(1, 7) %}
    <div id="root{{ index }}"></div>
    <hr />
    {% endfor %}

<div class="">
    <a href="https://www.w3schools.com/react/showreact.asp?filename=demo2_react_context2">demo</a>
</div>

{% endblock %}

{% block stylesheets_bottom %}
    {{ parent() }}
{% endblock %}

{% block javascripts_bottom %}
    {{ parent() }}
{% endblock %}
