{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('main_admin') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('main_admin') }}
{% endblock %}

{% block content %}
    {{ parent() }}

    <div id="main-admin"></div>

{% endblock %}

{% block stylesheets_bottom %}
    {{ parent() }}
{% endblock %}

{% block javascripts_bottom %}
    {{ parent() }}
{% endblock %}
