{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('main') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('main') }}
{% endblock %}

{% block content %}
    {{ parent() }}

    <hr />

<br />

<div id="react-toast" class=""></div>
<div id="react-app" class="react-app">

  <div id="lift-stuff-app" class="col-6"></div>

  <main id="main"></main>

</div>

{# <img
    src="{{ data_uri_thumbnail('public/image/large.png', 100, 75) }}"
    {{ stimulus_controller({
        mylazyimage: {},
        'symfony/ux-lazy-image/lazy-image': {
            src: asset('static/avatar.png')
        }
    }) }}

    {# Using BlurHash, the size is required #}
    {# width="200"
    height="150"
/> #}

<hr />


{% endblock %}

{% block stylesheets_bottom %}
    {{ parent() }}
{% endblock %}

{% block javascripts_bottom %}
    {{ parent() }}
{% endblock %}
