{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {{ parent() }}
<div class="container">
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

        {% if registrationForm.password is defined %}
            {% if form_errors(registrationForm.password.first) %}
                <div class="form-error">
                    <i class="fas fa-exclamation-triangle"></i> {{ form_errors(registrationForm.password.first)|striptags }}
                </div>
            {% endif %}
            <div class="form--input--container">
                {{ form_row(registrationForm.password.first, {'attr': {'class':'form-control', 'placeholder': 'Mot de passe'}}) }}
            </div>

            {% if form_errors(registrationForm.password.second) %}
                <div class="form-error">
                    <i class="fas fa-exclamation-triangle"></i> {{ form_errors(registrationForm.password.second)|striptags }}
                </div>
            {% endif %}
            <div class="form--input--container">
                {{ form_row(registrationForm.password.second, {'attr': {'class':'form-control', 'placeholder': 'Confirmer le mot de passe'}}) }}
            </div>
        {% endif %}

            <div id="captcha"></div>

            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn btn-success">Register</button>
            <a href="{{ path('app_login') }}" class="class="btn btn-lg btn-primary">Log in</a>
    {{ form_end(registrationForm) }}
        </div>
    </div>


{% endblock %}

{% block javascripts %}
{#    <script type="text/javascript">#}
{#        var onloadCallback = function() {#}
{#            grecaptcha.render('captcha', {#}
{#                'sitekey' : '{{ google_recaptcha_site_key }}',#}
{#            });#}
{#        };#}
{#    </script>#}

{#    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>#}
    <script>
        const togglePassword = document.querySelector('.picto-eye');
        const password_1 = document.getElementById('user_password_first');
        const password_2 = document.getElementById('user_password_second');

        togglePassword.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = password_1.getAttribute('type') === 'password' ? 'text' : 'password';
            const type2 = password_2.getAttribute('type') === 'password' ? 'text' : 'password';
            password_1.setAttribute('type', type);
            password_2.setAttribute('type', type);
            // toggle the eye / eye slash icon
            this.classList.toggle('bi-eye');
        });

    </script>
{% endblock %}
