{% extends 'base_datatable.html.twig' %}

{% block stylesheets %}
{{ parent() }}

{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}

{% block content %}
{{ parent() }}

<!-- Insert this where you want the table to appear -->
<div id="conversations" class="my-4">Loading...</div>
{% endblock %}

{% block stylesheets_bottom %}
{{ parent() }}
{% endblock %}

{% block javascripts_bottom %}
{{ parent() }}

<!-- Insert this at the end of your body element, but before the closing tag -->
<script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
<script>
$(function() {
    $('#conversations').initDataTables({{ datatable_settings(datatable) }}, {
        searching: true,
        dom:'<"html5buttons"B>lTfgitp',
        buttons: [
            'copy',
            { extend: 'pdf', title: 'domains'},
            { extend: 'print' }
        ]
    }).then(function(dt) {
        // dt contains the initialized instance of DataTables
        dt.on('draw', function() {
            alert('Redrawing table');
        })
    });
});
</script>
{% endblock %}
