{% extends 'base.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block content %}
    <h1>Edit Comment</h1>

    {{ include('blog/comment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_blog_comment_index') }}">back to list</a>

    {{ include('blog/comment/_delete_form.html.twig') }}
{% endblock %}
