{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block content %}
    <h1>Create new Comment</h1>

    {{ include('blog/comment/_form.html.twig') }}

    <a href="{{ path('app_blog_comment_index') }}">back to list</a>
{% endblock %}
