{% extends 'base.html.twig' %}

{% block title %}Comment{% endblock %}

{% block content %}
    <h1>Comment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>{{ comment.subject }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ comment.content }}</td>
            </tr>
            <tr>
                <th>Approved</th>
                <td>{{ comment.approved ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ comment.updatedAt ? comment.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_blog_comment_index') }}">back to list</a>

    <a href="{{ path('app_blog_comment_edit', {'id': comment.id}) }}">edit</a>

    {{ include('blog/comment/_delete_form.html.twig') }}
{% endblock %}
