{# templates/admin/welcome.html.twig #}
{% extends '@EasyAdmin/welcome.html.twig' %}

{% block content %}
{{ parent() }}
{% endblock content %}

{% block body_javascript %}
{{ parent() }}
<script>
console.log('layout')
</script>
{% endblock body_javascript %}
