{# templates/admin/welcome.html.twig #}
{#% extends '@EasyAdmin/welcome.html.twig' %#}

{% set menu = "" %}
{% if ea is defined %}
{% for menuItem in ea.mainMenu.items %}
    {% dump({menuItem: menuItem}) %}

    {% set menu = menu ~ '<a href="' ~ menuItem.linkUrl ~ '" target="' ~ menuItem.linkTarget ~ '">' %}
        {% if menuItem.icon %}
        {% set menu = menu ~ '<i class="' ~ menuItem.icon ~ '"></i>' %}
        {% endif %}
        {% set menu = menu ~ menuItem.label %}
    {% set menu = menu ~ '</a>' %}

    {% if not loop.last %}
    {% set menu = menu ~ ' | ' %}
    {% else %}
    {% set menu = menu ~ '<br/><br/>' %}
    {% endif %}
{% endfor %}
{% endif %}

{% dump({menu: menu}) %}

{% if welcome is defined %}
{{ welcome | replace({"<article>": ("<article>" ~ menu) }) | raw }}
{% endif %}
