{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/chat.css') }}" />
{% endblock %}

{% block content %}
    {{ parent() }}
<div class="chat-wrapper pt-3">
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <h2>Conversation {{ conversation.name }}</h2>
    <div class="" style="height: 600px">
        <div class="bg-light h-75 overflow-auto">
            {% for message in messages %}
                {% if app.user == message.author %}
                    <div class="row no-gutters w-75 float-right">
                        <b class="col-4 text-underline px-2 py-1">{{ message.author.username }}</b>
                        <p class="col-8 alert alert-info w-100 p-2">
                            {{ message.content }}
                        </p>
                    </div>
                {% else %}
                    <div class="row no-gutters w-75 float-left">
                        <b class="col-4 text-underline px-2 py-1">{{ message.author.username }}</b>
                        <p class="col-8 alert alert-success w-100 p-2">
                            {{ message.content }}
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div >
            <form id="form" class="">
                <div class="input-group row no-gutters mb-3">
                <input id="message" class="form-control col-9 px-2" placeholder="Message" type="text" />
                <div class="input-group-append col-3">
                    <button id="submit" type="submit" class="btn btn-success w-100">Send</button>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    window.addEventListener("load", function(event) {
        let chatDiv = document.querySelector('.overflow-auto');
        chatDiv.scrollTop = chatDiv.scrollHeight;

        let form = document.getElementById('form');
        function handleForm(event) {
            event.preventDefault();
        }
        form.addEventListener('submit', handleForm);

        // 'mercure' is used as the docker-compose service name. We replace it by the actual url for the browser.
        const link = '{{ app.request.attributes.get('_links').getLinksbyRel('mercure')[0].getHref }}';
            // .replace("http://mercure", "{{ mercure_host }}:3000");

        const url = new URL(link);
        url.searchParams.append('topic', '{{ mercure_host }}/conversation/{{conversation.id}}');

        const eventSource = new EventSource(url, {withCredentials: true});

        const appUser = {{ app.user ? app.user.id : 0 }};

        eventSource.onmessage = ({data}) => {
            const message = JSON.parse(data);
             document.querySelector('.bg-light').insertAdjacentHTML(
                'beforeend',
                 appUser === message.author.id ?
                 `<div class="row w-75 float-right">
                    <b>${message.author.username}</b>
                    <p class="alert alert-info w-100">${message.content}</p>
                </div>` :
                 `<div class="row w-75 float-left">
                    <b>${message.author.username}</b>
                    <p class="alert alert-success w-100">${message.content}</p>
                </div>`
            )
            chatDiv.scrollTop = chatDiv.scrollHeight;
        }

        const submit = document.querySelector('button');
        submit.onclick = (e) => {
            const message = document.getElementById('message');
            const data = {
                'content': message.value,
                'conversation': {{ conversation.id }}
            }
            console.log(data);
            fetch('/message', {
                method: 'POST',
                body: JSON.stringify(data)
            }).then((response) => {
                message.value = '';
                console.log(response);
            });
        }
    });
    </script>
{% endblock %}
