{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/chat.css') }}" />
{% endblock %}

{% block content %}
    {{ parent() }}
<div class="chat-wrapper pt-3">
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    {% if conversations is defined and conversations %}
        <h2>Which chan do you want to join ?</h2>
        <table class="table table-striped">
            <tbody>
            {% for conversation in conversations %}
                <tr class="">
                    <th>
                        <span>{{ conversation.name }}</span>
                        <a class="btn btn-primary float-right" href="{{ path('app_chat_conversation', {id: conversation.id}) }}">Go chat !</a>
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div>
            <div class="alert alert-danger text-center">No Conversations found. Create Users with the <b>create:conversation</b> command</div>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    </script>
{% endblock %}
