body {
    background-color: white;
    /* background-color: lightgray; */
}

.navbar {
    padding-left: 2rem;
    padding-right: 2rem;
}
.navbar .btn {
    margin: 0 1.2rem;
}
.navbar .btn:last-child {
    margin-right: 0;
}