$class-name: root !default;
$start-width: 25%;

@for $var from 1 to 7 {
    .#{$class-name}-#{$var} {
        width: 100%;
        &::after {
            content: "#{$class-name}-#{$var}"
        }
    }
}
