{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block content %}
    <h1>Edit Post</h1>

    {{ include('blog/post/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_blog_post_index') }}">back to list</a>

    {{ include('blog/post/_delete_form.html.twig') }}
{% endblock %}
