{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block content %}
    <h1>Create new Post</h1>

    {{ include('blog/post/_form.html.twig') }}

    <a href="{{ path('app_blog_post_index') }}">back to list</a>
{% endblock %}
