{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}

<!-- in the <head> section -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}

{% block stylesheets_bottom %}
{{ parent() }}
{% endblock %}

{% block javascripts_bottom %}
{{ parent() }}

<!-- before the closing <body> tag -->
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
{% endblock %}
