{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <h1>Create new Product</h1>

    {{ include('blog/product/_form.html.twig') }}

    <a href="{{ path('app_blog_product_index') }}">back to list</a>
{% endblock %}
