<footer class="navbar-light bg-light">
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <a href="https://www.univ-orleans.fr/iut-orleans/informatique/intra/tuto/php/"> Gérard Rozsavolgyi & Sylvain Austruy</a>
        </div>
</footer>
