<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ path('home') }}">
    <i class="fa-solid fa-globe"></i> Symfony
  </a>

  <button class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <a href="{{ path('app_admin_dashboard') }}" class="btn btn-sm btn-outline-primary">
      {{ 'Dashboard' | trans }}
    </a>
    <a href="{{ path('app_chat_home') }}" class="btn btn-sm btn-outline-success">
      {{ 'Chat' | trans }}
    </a>
    {% if app.user %}
      {# Si l'utilisateur est authentifié #}
      <a class="btn btn-sm btn-outline-info" href="{{ path('app_membre') }}">
        {% trans %}Page membre{% endtrans %}
      </a>
      {% if is_granted('ROLE_ADMIN') %}
        {# Si l'utilisateur est authentifié et qu'il est admin #}
        <a class="btn btn-sm btn-outline-warning" href="{{ path('app_admin') }}">
          {% trans %}Page admin{% endtrans %}
        </a>
      {% endif %}
      <div>
        {% trans %}Bonjour{% endtrans %} {{ app.user.username }} <a class="btn btn-sm btn-danger" href="{{ path('app_logout') }}">{% trans %}Déconnexion{% endtrans %}</a>
      </div>
    {% else %}
      <div class="">
        <a class="btn btn-sm btn-primary" href="{{ path('app_user_new') }}">
          {% trans %}S'inscrire{% endtrans %}
        </a>
        <a class="btn btn-sm btn-success" href="{{ path('app_login') }}">
          {% trans %}Se connecter{% endtrans %}
        </a>
      </div>
    {% endif %}
  </div>
</nav>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<div class="knp-menu">
{{ knp_menu_render('App:Builder:mainMenu') }}
</div>
{% endif %}
