<div class="my-4">
{{ form_start(form, {'attr': {'id': 'form_user'}}) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>

<script>
jQuery(function($){
    $("#form_user").on('submit', function() {
        if($("#verifpass").length) {
            if($("#user_password").val() != $("#verifpass").val()) {
                //implémntez votre code
                alert("Les deux mots de passe saisies sont différents");
                alert("Merci de renouveler l'opération");
                return false;
            }
        }
    })
})
</script>
